
body {
  background-color: #9AC;
}

.chat {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.message {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: left;
  justify-content: left;
  margin-bottom: 10px;
  width: 100%;
}

.message-icon {
  width: 34px;
  height: 34px;
  border-radius: 17px;
  margin-left: 5px;
  margin-right: 5px;
}

.message-text {
  background-color: #9EF166;
  color: black;
  border-radius: 10px;
  line-height: 25px;
  padding: 10px;
  max-width: 280px;
}

.my-message {
  display: -webkit-flex;
  display: flex;
  margin-bottom: 10px;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.my-message .message-text {
  background-color: white;
  color: black;
}

.center {
  text-align: center;
}

.title {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0,0,0,0.3);
  font-size: 18px;
  color: #EEE;
  height: 30px;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  
}

.message-image {
  max-width: 270px;
}
@media screen and (min-width: 500px) {
  .chat {
    width: 500px;
  }
}
